#list_space {
    width: 100%;
    height: 100%;
}

.list_section {
    width: 750px;
    height: 100%;
    margin: 20px auto;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 750px;
    height: 75px;
    border: 10px solid lightblue;
    border-radius: 8px;
    background-color: lightblue;
    margin-bottom: 10px;
    animation: fadeIn 1s linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.writeTodo {
    border: none;
    background-color: lightblue;
    width: 550px;
    height: 30px;
    font-size: 20px;
}

.writeTodo:focus {
    outline: none;
    border-bottom: 2px solid white;
}

.complete {
    text-decoration: line-through;
    transition: line-through 1s;
}

.material-icons {
    width: 30px;
    height: 30px;
    background-color: transparent !important;
    border: none;
    margin: auto 10px;
    cursor: pointer;
}

.material-icons:hover {
    color: red;
}

